.full-menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-size: cover;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s 0s, visibility 0s 0.3s;
}

.cd-transition-layer,
.full-menu {
    z-index: 6 !important;
}

.full-menu.visible {
    background-size: 100%;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.7s, visibility 0s;
}

.cd-transition-layer {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    height: 100%;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
}

.cd-transition-layer .bg-layer {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translateY(-50%) translateX(-2%);
    transform: translateY(-50%) translateX(-2%);
    height: 100%;
    /* sprite is composed of 25 frames */
    width: 2500%;
    background: url(../../images/ink.png) no-repeat 0 0;
    background-size: 100% 100%;
}

.cd-transition-layer.visible {
    opacity: 1;
    visibility: visible;
}

.cd-transition-layer.opening .bg-layer {
    animation: cd-sequence 1.0s steps(24);
    animation-fill-mode: forwards;
}

.cd-transition-layer.closing .bg-layer {
    animation: cd-sequence-reverse 1.0s steps(24);
    animation-fill-mode: forwards;
}

.no-cssanimations .cd-transition-layer {
    display: none;
}

@keyframes cd-sequence {
    0% {
        transform: translateY(-50%) translateX(-2%);
    }

    100% {
        transform: translateY(-50%) translateX(-98%);
    }
}

@keyframes cd-sequence-reverse {
    0% {

        transform: translateY(-50%) translateX(-98%);
    }

    100% {

        transform: translateY(-50%) translateX(-2%);
    }
}

.full-menu .fullmenu-content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}

.page-menu {
    position: relative;
}

.page-menu li {
    list-style-type: none;
    text-align: center;
}

.page-menu>li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 3em;
    padding: 5px 20px;
    display: inline-flex;
    font-weight: 700;
    transition: 00.5s;
    position: relative;
}

.full-menu .fullmenu-content ul {
    margin: 0;
    padding: 0;
}

/* .page-menu:hover > li a {
     color: #0002;
} */

@media only screen and (min-width: 768px) {
    .page-menu>li:hover a {
        color: #000;
        background: rgba(255, 255, 255, 1);
    }

    .page-menu>li a::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 40%;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 4em;
        color: rgba(255, 255, 255, 0.1);
        border-radius: 50%;
        z-index: -1;
        opacity: 0;
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: 500px;
        transition: letter-spacing 00.5s, left 00.5s;
    }

    .page-menu>li a:hover::before {
        content: attr(data-text);
        opacity: 1;
        left: 50%;
        font-weight: bold;
        letter-spacing: 10px;
    }
}

.full-menu .fullmenu-content .social {
    margin-top: 1.5rem;
}

.social a {
    padding: 0 1rem 0;
    color: rgba(255, 255, 255, 1);
    font-size: 1.5rem;
}

.social .facebook:hover .fa-facebook-f {
    -o-transition: all 0.2s ease-in-out 0s;
    -ms-transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    -webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    background-color: #3d5b99;
}

.social .instagram:hover .fa-instagram {
    -o-transition: all 0.2s ease-in-out 0s;
    -ms-transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    -webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    background-image: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
}

.social .linkedin:hover .fa-linkedin-in {
    -o-transition: all 0.2s ease-in-out 0s;
    -ms-transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    -webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    background-color: #0073a4;
}

.social .github:hover .fa-github {
    -o-transition: all 0.2s ease-in-out 0s;
    -ms-transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    -webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    background-color: #5a32a3;
}